body {
  margin: 0;
}

.stars-container {
  position: absolute;
  width: 100%;

  background-color: black;
  z-index: -1;

}

.star {
  position: fixed;
  background-color: #fff;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  animation-name: twinkle;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
}
.name {

padding: 40vh;
color: white;
text-align: center;
margin: 0;
}

@keyframes twinkle {
  from {background-color: white;}
  to {background-color: #555;}
}


section {
margin: 0;
color:white;
border-radius: 50px;
background-color: #777;
text-align:center;
box-shadow: 10px 10px 18px #555;
width: 70%;
margin: auto;

}

footer {
background-color: #000;
color: #fff;
text-align: center;
padding:10px;
}
