body {
    margin: 0;
    overflow: hidden;
}

.stars-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    overflow: hidden;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: stretch 1s linear;
}

@keyframes stretch {
    from {
        width: 2px;
        height: 2px;
    }
    to {
        width: 10px;
        height: 50px;
    }
}

:root * {
    animation-play-state: paused;

    animation-delay: calc(var(--scroll) * -1s);

    animation-iteration-count: 1;
    animation-fill-mode: both;
}