body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #132547, #2a5298); /* A winter-themed gradient */
}
.container {
    background-color: rgb(32, 139, 233);
    font-size: xx-large;
    height:100%;
    margin:0;
}
.main {
  
    height:100vh;
    width:100vw;
    display:flex;
    align-items: top;
    position: absolute;
   
}
.tableBlock {
    padding-top:5vh;
    width:30vw;
}
#title {
    position: absolute;
    top: 72%; /* Initially offscreen */
    left: 40%;
    font-size: 2.5vw;
    color: #ffffff;
    text-shadow: 5px 5px 7px rgb(156, 0, 0);
    font-family: Arial, sans-serif;
    white-space: nowrap;
}
.top_window {

    
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    background-color: #171135;
    color: #000000;
    width: 100vw;
    height: 13vh;
    padding-top:50px;
    justify-content: center;
}


canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}


.header {
    position: relative;
    width: 100%;
    height: 20vh; /* Header height for clouds */
    background: transparent;
    overflow: hidden;
}

.cloud {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: -15px 15px 20px rgba(255, 255, 255, 0.7), 
                15px 15px 20px rgba(255, 255, 255, 0.7), 
                0px 20px 25px rgba(255, 255, 255, 0.6);
    animation: moveClouds 15s linear infinite;
}

/* Cloud sizes and positions */
.cloud:nth-child(9) {
    width: 20vw;
    height: 13vh;
    top: -40px;
    left: -50%;
}
.cloud:nth-child(1) {
    width: 20vw;
    height: 17vh;
    top: -40px;
    left: 0%;
}

.cloud:nth-child(2) {
    width: 20vw;
    height: 15vh;
    top: -40px;
    left: 15%;
}

.cloud:nth-child(3) {
    width: 20vw;
    height: 12vh;
    top: -40px;
    left: 30%;
}
.cloud:nth-child(4) {
    width: 20vw;
    height: 18vh;
    top: -40px;
    left: 45%;
}
.cloud:nth-child(5) {
    width: 20vw;
    height: 15vh;
    top: -40px;
    left: 60%;
}
.cloud:nth-child(6) {
    width: 20vw;
    height: 12vh;
    top: -40px;
    left: 75%;
}
.cloud:nth-child(7) {
    width: 20vw;
    height: 15vh;
    top: -40px;
    left: 90%;
}
.cloud:nth-child(8) {
    width: 20vw;
    height: 15vh;
    top: -40px;
    left: -15%;
}

@keyframes moveClouds {
    0% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(100px)
    }
    100% {
        transform: translateX(0)
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    min-width: 100%;
    max-height:100px;
    color:white;
    
}

td, th {
    border: 3px solid #ffffff;
    text-align: left;
    padding: 8px;
    max-width: 20vw;
    min-width: 7vw;
    
}

tr:nth-child(even) {
    background-color: rgb(0, 84, 13);

}
tr:nth-child(odd) {
    background-color: rgb(0, 0, 110);
}
a {
    color: inherit;
  }